*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app{
    text-align: center;
}

header{
    padding: 20px 0;
}
header a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #ddd;
}
.active{
    background: yellow;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid red;
}

.log-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.log-form form input{
    padding: 5px;
    margin: 10px 0;
}

.Receptionist{
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: yellow;
}
.Administration{
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: red;
}
.Doctor{
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: green;
}