*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: blueviolet;
    padding: 10px 0;
}
header h1{
    color: #fff;
    text-align: center;
}

#app{
    margin-top: 30px;
    text-align: center;
}