*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
[v-cloak]{
    display: none;
}

#app{
    text-align: center;
}

#app h1{
    
}

.container{
    margin: 20px auto;
}
.game{
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
.box{
    width: 100px;
    height: 100px;
    background: rebeccapurple;
    font-size: 2rem;
    color: #fff;
}

